#error
.stack
  h2 Throughput
  canvas#realtime(width: "800", height: "205")
    | This application requires Canvas support in your web browser.
.stack.yui-skin-sam
  h2 Explorer
  #requests
.stack
  a(href: "/admin") Go to Admin

// include scripts, copy to admin if needed
- if (scripts.length)
  script(src: "http://yui.yahooapis.com/combo?3.1.2/build/yui/yui-min.js&3.1.2/build/loader/loader-min.js")
- for (var k in scripts)
  script(src: scripts[k])
